.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menuBox {
  margin: 1.5rem;
  padding: 1.5rem;
  border: black 1px solid;
}
